body {
  margin: auto !important;
  background: orange;
  font-family: "Ubuntu";
  text-align: center;
}

.header {
  background-color: #ffcc00;
}

button {
  font-family: "Ubuntu";
}

.post {
  float: center;
  margin-bottom: 0.5em;
  width: 110em;
  margin-left: 4em;
  padding: 0.5em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em 0.03.em rgba(0, 0, 0, 0.3);

  text-align: left;
  display: block;
}

.post li {
  list-style-type: none;
}

.post button {
  float: right;
}

.post .post-author-time {
  padding-top: 1em;

  font-size: 0.75em;
  text-align: right;
}

.post .post-title {
  font-size: 2.5em;
  text-align: left;
}

.post-modify-remove-return {
  margin-bottom: 2em;
}

.comment .comment-author-time {
  font-size: 0.75em;
}

.comment .comment-author-time .comment-delete {
  color: blue;

  float: right;
  text-decoration: underline;
}

.comment .comment-author-time .comment-edit {
  padding-right: 1.25em;
  padding-top: 0.25em;
  color: blue;

  float: right;
  text-decoration: underline;
}

.comment .comment-author-time .comment-reply {
  padding-right: 1.25em;
  padding-top: 0.25em;
  color: blue;

  float: right;
  text-decoration: underline;
}

.comment-box .comment-hide-show {
  font-size: 0.75em;
  color: blue;
  text-decoration: underline;
}

.summaries {
  margin-bottom: 0.5em;
  padding: 0.5em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em 0.03.em rgba(0, 0, 0, 0.3);

  display: block;
}

.summaries .summary-title {
  font-size: 2.5em;
}

.summaries .summary-author-time {
  font-size: 0.75em;
}

.read-more {
  font-size: 0.75em;
  float: right;
}

.replies .reply-start {
  font-size: 0.75em;
  float: right;

  color: blue;
  text-decoration: underline;
}

.reply-author-time {
  font-size: 0.75em;
}

.reply-author-time .reply-delete {
  color: blue;

  float: right;
  text-decoration: underline;
}

.reply-author-time .reply-edit {
  padding-right: 1.25em;
  color: blue;

  float: right;
  text-decoration: underline;
}

.reply-add {
  float: right;
}
